<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Ayotzinapa{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'archive/css/index.css' %}" />
</head>

<body>
  <div class="page">
    <h3 style="color: white;">No encontrado.</h3>
    <span style="color: white;">La página no fue encontrada. Diríjase <a href="/">aquí</a>.</span>
  </div>
</body>
