{% block viewer %}

  {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'archive/js/libs/potree/potree.css' %}">
	<script src="{% static 'archive/js/libs/jquery/jquery-3.1.1.js' %}"></script>
	<script src="{% static 'archive/js/libs/three.js/build/three.js' %}"></script>
	<script src="{% static 'archive/js/libs/other/stats.min.js' %}"></script>
	<script src="{% static 'archive/js/libs/other/BinaryHeap.js' %}"></script>
	<script src="{% static 'archive/js/libs/tween/tween.min.js' %}"></script>
	<script src="{% static 'archive/js/libs/proj4/proj4.js' %}"></script>
	<script src="{% static 'archive/js/libs/potree/potree.js' %}"></script>


    <div class="potree_container" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">

		<div id="potree_render_area">
			<div id="potree_map" class="mapBox" style="position: absolute; left: 50px; top: 50px; width: 400px; height: 400px; display: none">
				<div id="potree_map_header" style="position: absolute; width: 100%; height: 25px; top: 0px; background-color: rgba(0,0,0,0.5); z-index: 1000; border-top-left-radius: 3px; border-top-right-radius: 3px;">
				</div>
				<div id="potree_map_content" class="map" style="position: absolute; z-index: 100; top: 25px; width: 100%; height: calc(100% - 25px); border: 2px solid rgba(0,0,0,0.5); box-sizing: border-box;"></div>
			</div>

			<div id="potree_description" class="potree_info_text"></div>
		</div>

		<div id="potree_sidebar_container"> </div>
    </div>

	<script>

		window.viewer = new Potree.Viewer(document.getElementById("potree_render_area"));

		viewer.setEDLEnabled(true);
		viewer.setPointSize(1);
		viewer.setMaterial("RGB");
		viewer.setFOV(60);
		viewer.setPointSizing("Adaptive");
		viewer.setQuality("Squares");
		viewer.setPointBudget(1*1000*1000);
		viewer.setIntensityRange(0, 300);
		viewer.setWeightClassification(1);
		viewer.loadSettingsFromURL();

		viewer.setDescription("");

		/*viewer.loadGUI(() => {
			viewer.setLanguage('en');
			$("#menu_appearance").next().show();
			//viewer.toggleSidebar();
		});*/

		// Sigeom
    {% load archive_extras %}
    {% with '/static/archive/js/resources/'|addstr:scene_id|addstr:'/cloud.js' as cloud_static %}
  		Potree.loadPointCloud('{{ cloud_static }}', "santa_teresa", function(e){
    {% endwith %}
    		viewer.scene.addPointCloud(e.pointcloud);
  			viewer.fitToScreen();
  		});


	</script>

{% endblock %}
